<ion-header>
  <ion-toolbar [color]="department.color">
    <div class="service">
      <ion-icon mode="ios" class="back" name="arrow-back" [routerLink]="['/summary']"></ion-icon>
      {{department.department}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [color]="department.color">
  <img [src]="'assets/money/'+department.img+'.png'" alt="PBNA">
  <ion-list *ngIf="done" style="padding:0">
    <ion-item lines="none" *ngFor="let service of filterBy('service');let i = index"
      [routerLink]="['/services/',index,i]" [color]="department.color">
      <ion-label class="final">{{service.service}} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>