<ion-content>
  <img src="assets/money/sommaire_head.png" alt="PBNA">
  <img src="assets/money/maternite.png" alt="PBNA" [routerLink]="['/department/'+0]">
  <img src="assets/money/medur.png" alt="PBNA" [routerLink]="['/department/'+1]">
  <img src="assets/money/imagerie.png" alt="PBNA" [routerLink]="['/department/'+2]">
  <img src="assets/money/med.png" alt="PBNA" [routerLink]="['/department/'+3]">
  <img src="assets/money/anesth.png" alt="PBNA" [routerLink]="['/department/'+4]">
  <img src="assets/money/chirur.png" alt="PBNA" [routerLink]="['/department/'+5]">
  <img src="assets/money/traitem.png" alt="PBNA" [routerLink]="['/department/'+6]">
  <!-- <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col>
        <div>
          <img src="assets/money/sommaire_head.png" alt="PBNA">
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="assets/money/maternite.png" alt="PBNA">
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="assets/money/medur.png" alt="PBNA">
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="assets/money/imagerie.png" alt="PBNA">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>