<ion-header>
  <ion-toolbar [color]="department.color">
    <div class="service">
      <ion-icon mode="ios" class="back" name="arrow-back" [routerLink]="['/services/',index,indexServ]"></ion-icon>
      {{department.department}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title" [ngStyle]="{'border-color' : 'var(--ion-color-' + department.color + ')'}">
    <div class="textor" [ngStyle]="{'border-color' : 'var(--ion-color-' + department.color + ')'}">
      {{service.service}}
    </div>
    <div *ngIf="service.numsec" class="info">
      Secrétariat {{service.numsec}}
    </div>
    <div *ngIf="service.mailsec" class="info">
      <ion-icon class="icon" name="mail"></ion-icon> {{service.mailsec}}
    </div>
    <div *ngIf="service.site" class="info">
      <ion-icon class="icon" name="desktop"></ion-icon>
      <ion-icon *ngIf="service.both" class="icon" name="calendar"></ion-icon> {{service.site}}
    </div>
    <div *ngIf="service.rdv" class="info">
      <ion-icon class="icon" name="calendar"></ion-icon> {{service.rdv}}
    </div>
  </div>
  <ion-list>
    <div class="photoz">
      <div class="docimg">
        <img *ngIf="image!=='assets/money/undefined'" [src]="image" alt="docteur" width="160px" height="160px">
      </div>
      <div class="docname">
        <span [ngStyle]="{'color' : 'var(--ion-color-' + department.color + ')'}">Dr
          {{doc.name | uppercase}}
          {{doc.firstname}}</span>
      </div>
      <div class="docmail">
        <span>{{doc.mail}}</span>
      </div>
    </div>

    <ion-item class="foot" lines="none">
      <span class="colza">
        <ion-icon class="ficon" name="mail"></ion-icon>
      </span>
      <span class="colza">mail secrétariat</span>
      <span class="colza">
        <ion-icon class="ficon" name="desktop"></ion-icon>
      </span>
      <span class="colza">site web</span>
      <span class="colza">
        <ion-icon class="ficon" name="calendar"></ion-icon>
      </span>
      <span class="colza">site prise de rendez-vous</span>
    </ion-item>
  </ion-list>
</ion-content>