<ion-header>
  <ion-toolbar [color]="department.color">
    <div class="service ">
      <ion-icon mode="ios" class="back" name="arrow-back" [routerLink]="['/department',index]"></ion-icon>
      {{department.department}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title" [ngStyle]="{'border-color' : 'var(--ion-color-' + department.color + ')'}">
    <div class="textor" [ngStyle]="{'border-color' : 'var(--ion-color-' + department.color + ')'}">
      {{service.service}}
    </div>
    <div *ngIf="service.numsec" class="info">
      Secrétariat {{service.numsec}}
    </div>
    <div *ngIf="service.mailsec" class="info">
      <ion-icon class="icon" name="mail"></ion-icon> {{service.mailsec}}
    </div>
    <div *ngIf="service.site" class="info">
      <ion-icon class="icon" name="desktop"></ion-icon>
      <ion-icon *ngIf="service.both" class="icon" name="calendar"></ion-icon> {{service.site}}
    </div>
    <div *ngIf="service.rdv" class="info">
      <ion-icon class="icon" name="calendar"></ion-icon> {{service.rdv}}
    </div>
  </div>
  <ion-list *ngIf="service.docteurs">
    <ion-item lines="none" *ngFor="let doc of filterBy('name');let i = index"
      [routerLink]="['/docteur/',index,indexServ,i]" detail="false">
      <ion-grid>
        <ion-row>
          <span [ngStyle]="{'color' : 'var(--ion-color-' + department.color + ')'}">Dr {{doc.name | uppercase}}
            {{doc.firstname}}</span>
        </ion-row>
        <ion-row>
          <span>{{doc.mail}}</span>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>